#markdown .html-preview-section h2{
	margin-top: 0;
	min-width: 90px;
	display: inline-block;
	border-bottom: solid 2px #125da1;
	padding-top: 30px;
	background: url('https://md.wangbaiyuan.cn/themes/tech-radar/images/h2-bg.jpeg') 0% 50% / 90px no-repeat scroll transparent;
}


#markdown .html-preview-section .content-header {
	background-color: #5e6772;
	background: url('https://md.wangbaiyuan.cn/themes/tech-radar/images/header.png');
	background-size: contain;
}
